/* line 2, ../scss/base/_base.scss */
html {
  width: 100%;
  height: 100%;
  background-color: #000;
}

/* line 8, ../scss/base/_base.scss */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Background Styles */
/* line 17, ../scss/base/_base.scss */
.background {
  width: 100%;
  height: 100%;
  position: fixed;
}
/* line 22, ../scss/base/_base.scss */
.background .bgImg {
  min-width: 100%;
  min-height: 100%;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0;
  -webkit-transition: opacity 500ms ease-in;
  -moz-transition: opacity 500ms ease-in;
  -ms-transition: opacity 500ms ease-in;
  -o-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in;
}
/* line 33, ../scss/base/_base.scss */
.background .bgOverlay {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 500px 200px #000;
}
/* line 40, ../scss/base/_base.scss */
.background .tile {
  display: inline-block;
  margin: 0;
  margin-top: -4.5px;
  width: 20%;
}

/* Navigation Styles */
/* line 49, ../scss/base/_base.scss */
.nav {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 500ms ease-in;
  -moz-transition: opacity 500ms ease-in;
  -ms-transition: opacity 500ms ease-in;
  -o-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in;
  /*.nav3 { //Contact
  	transform-origin: 100% 100%;
  	width: 50% !important;
  	text-align: center;

  	h1 {
  	}
  }*/
}
/* line 56, ../scss/base/_base.scss */
.nav > div {
  width: 100%;
  height: 50%;
  display: inline-block;
  padding: 0;
  margin: 0px;
  opacity: 0.75;
  -webkit-transition: transform 500ms ease-in, background-color 500ms ease-in, opacity 500ms ease-in;
  -moz-transition: transform 500ms ease-in, background-color 500ms ease-in, opacity 500ms ease-in;
  -ms-transition: transform 500ms ease-in, background-color 500ms ease-in, opacity 500ms ease-in;
  -o-transition: transform 500ms ease-in, background-color 500ms ease-in, opacity 500ms ease-in;
  transition: transform 500ms ease-in, background-color 500ms ease-in, opacity 500ms ease-in;
}
/* line 67, ../scss/base/_base.scss */
.nav > div h1 {
  color: #fff;
  font-family: Verdana;
  font-size: 50pt;
  position: relative;
  text-shadow: 0 0 0px #fff;
  -webkit-transition: text-shadow 300ms ease-in, transform 500ms ease, opacity 500ms ease-in;
  -moz-transition: text-shadow 300ms ease-in, transform 500ms ease, opacity 500ms ease-in;
  -ms-transition: text-shadow 300ms ease-in, transform 500ms ease, opacity 500ms ease-in;
  -o-transition: text-shadow 300ms ease-in, transform 500ms ease, opacity 500ms ease-in;
  transition: text-shadow 300ms ease-in, transform 500ms ease, opacity 500ms ease-in;
}
/* line 75, ../scss/base/_base.scss */
.nav .navHover:hover {
  cursor: pointer;
}
/* line 81, ../scss/base/_base.scss */
.nav .nav1 {
  transform-origin: 0 0;
  text-align: center;
}
/* line 85, ../scss/base/_base.scss */
.nav .nav1 .galNav {
  position: relative;
  display: none;
  top: 85%;
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  z-index: 1000;
  color: #fff;
  font-family: Verdana;
  text-align: center;
  /*transform: scale(1,0.5);*/
  opacity: 0;
  background-color: #000;
  padding: 5px;
}
/* line 101, ../scss/base/_base.scss */
.nav .nav1 .galNav h2 {
  display: inline-block;
  margin: 0px 20px;
  font-size: 15pt;
  cursor: pointer;
  text-shadow: 0 0 10px #000;
  -webkit-transition: text-shadow 200ms ease-in, transform 500ms ease-in-out, color 300ms ease-in;
  -moz-transition: text-shadow 200ms ease-in, transform 500ms ease-in-out, color 300ms ease-in;
  -ms-transition: text-shadow 200ms ease-in, transform 500ms ease-in-out, color 300ms ease-in;
  -o-transition: text-shadow 200ms ease-in, transform 500ms ease-in-out, color 300ms ease-in;
  transition: text-shadow 200ms ease-in, transform 500ms ease-in-out, color 300ms ease-in;
}
/* line 110, ../scss/base/_base.scss */
.nav .nav1 .galNav h2:hover {
  text-shadow: 0 0 5px #fff;
}
/* line 115, ../scss/base/_base.scss */
.nav .nav1 .gallery {
  position: absolute;
  top: -50%;
  left: 0;
  width: 100%;
  height: 200%;
  display: none;
  -webkit-transform: scaleY(0.5);
  -moz-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  -o-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
/* line 125, ../scss/base/_base.scss */
.nav .nav1 .gallery > div, .nav .nav1 .gallery .image, .nav .nav1 .gallery .overlay, .nav .nav1 .gallery .overlay div {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}
/* line 131, ../scss/base/_base.scss */
.nav .nav1 .gallery > div:not(.slideshow):not(.nicescroll-rails) {
  display: none;
  position: relative;
  text-align: center;
  -webkit-transition: opacity 500ms ease-in;
  -moz-transition: opacity 500ms ease-in;
  -ms-transition: opacity 500ms ease-in;
  -o-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in;
}
/* line 137, ../scss/base/_base.scss */
.nav .nav1 .gallery .slideshow {
  -webkit-transition: opacity 500ms ease-in;
  -moz-transition: opacity 500ms ease-in;
  -ms-transition: opacity 500ms ease-in;
  -o-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in;
}
/* line 140, ../scss/base/_base.scss */
.nav .nav1 .gallery .overlay {
  opacity: 1;
  z-index: 1000;
}
/* line 144, ../scss/base/_base.scss */
.nav .nav1 .gallery .overlay .controls {
  opacity: 1;
  font-family: Verdana;
  font-weight: bold;
  color: #fff;
}
/* line 150, ../scss/base/_base.scss */
.nav .nav1 .gallery .overlay .controls > div {
  position: relative;
  display: inline-block;
}
/* line 154, ../scss/base/_base.scss */
.nav .nav1 .gallery .overlay .controls > div:not(.playback):hover {
  opacity: 1 !important;
}
/* line 157, ../scss/base/_base.scss */
.nav .nav1 .gallery .overlay .controls .lastSlide, .nav .nav1 .gallery .overlay .controls .nextSlide {
  width: 15%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: opacity 500ms ease-in;
  -moz-transition: opacity 500ms ease-in;
  -ms-transition: opacity 500ms ease-in;
  -o-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in;
}
/* line 168, ../scss/base/_base.scss */
.nav .nav1 .gallery .overlay .controls .playback {
  width: 70%;
  opacity: 1;
}
/* line 172, ../scss/base/_base.scss */
.nav .nav1 .gallery .overlay .controls .playback p {
  position: absolute;
  left: 50%;
  top: 25%;
  font-size: 17pt;
  text-shadow: 0 0px 5px #000;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0);
  cursor: pointer;
  padding: 150px;
  opacity: 0;
  -webkit-transition: opacity 500ms ease-in, background-color 500ms ease-in;
  -moz-transition: opacity 500ms ease-in, background-color 500ms ease-in;
  -ms-transition: opacity 500ms ease-in, background-color 500ms ease-in;
  -o-transition: opacity 500ms ease-in, background-color 500ms ease-in;
  transition: opacity 500ms ease-in, background-color 500ms ease-in;
}
/* line 186, ../scss/base/_base.scss */
.nav .nav1 .gallery .overlay .controls .playback p:hover {
  opacity: 1 !important;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
}
/* line 195, ../scss/base/_base.scss */
.nav .nav1 .image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: opacity 500ms ease-in;
  -moz-transition: opacity 500ms ease-in;
  -ms-transition: opacity 500ms ease-in;
  -o-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in;
}
/* line 201, ../scss/base/_base.scss */
.nav .nav1 .container {
  width: 93%;
  height: 65%;
  position: relative;
  display: inline-block;
  top: 24%;
}
/* line 208, ../scss/base/_base.scss */
.nav .nav1 .container .thumbScroller {
  width: 45%;
  height: 105%;
  display: inline-block;
  float: left;
  position: relative;
  top: -5%;
}
/* line 216, ../scss/base/_base.scss */
.nav .nav1 .container .thumbScroller .columns {
  -webkit-column-count: 3;
  -webkit-column-gap: 5px;
  -moz-column-count: 3;
  -moz-column-gap: 5px;
  column-count: 3;
  column-gap: 5px;
  padding-bottom: 50px;
}
/* line 220, ../scss/base/_base.scss */
.nav .nav1 .container .thumbScroller .columns .thumb {
  display: inline-block;
  margin: 3px;
  opacity: 0;
  -webkit-transition: opacity 500ms ease-in;
  -moz-transition: opacity 500ms ease-in;
  -ms-transition: opacity 500ms ease-in;
  -o-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in;
  cursor: pointer;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
/* line 228, ../scss/base/_base.scss */
.nav .nav1 .container .thumbScroller .columns .thumb .thumbnail {
  width: 100%;
  border: 1px solid #fff;
}
/* line 233, ../scss/base/_base.scss */
.nav .nav1 .container .thumbScroller .columns .thumb:hover {
  opacity: 1 !important;
}
/* line 238, ../scss/base/_base.scss */
.nav .nav1 .container .preview {
  width: 49%;
  height: 95%;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  float: right;
  cursor: url(../images/zoom-in.cur), pointer;
}
/* line 248, ../scss/base/_base.scss */
.nav .nav1 .container .edge {
  width: 49%;
}
/* line 251, ../scss/base/_base.scss */
.nav .nav1 .container .edge .edgefade {
  width: 80%;
  height: 0px;
  position: relative;
  box-shadow: 0px -25px 90px 130px black;
  -webkit-box-shadow: 0 -25px 110px 100px black;
  z-index: 1000;
  display: inline-block;
  left: -4%;
}
/* line 265, ../scss/base/_base.scss */
.nav .nav1.navHover:hover h1 {
  transform: translateY(50%);
  text-shadow: 0 0 7px #fff;
}
/* line 270, ../scss/base/_base.scss */
.nav .nav2 {
  transform-origin: 100% 100%;
  width: 100% !important;
  text-align: center;
}
/* line 275, ../scss/base/_base.scss */
.nav .nav2 h1 {
  position: relative;
  top: 60%;
}
/* line 280, ../scss/base/_base.scss */
.nav .nav2.navHover:hover h1 {
  transform: translateY(-50%);
  text-shadow: 0 0 7px #fff;
}

/* Monitor Styles */
/* line 296, ../scss/base/_base.scss */
.monitor {
  display: none;
  background-color: black;
  color: green;
  width: 250px;
  height: auto;
  padding: 5px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  cursor: default;
}

/* Image Viewer Styles */
/* line 311, ../scss/base/_base.scss */
.imgViewer {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  -webkit-transition: opacity 500ms ease-in;
  -moz-transition: opacity 500ms ease-in;
  -ms-transition: opacity 500ms ease-in;
  -o-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in;
  text-align: center;
}
/* line 323, ../scss/base/_base.scss */
.imgViewer > div {
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: url(../images/zoom-out.cur), pointer;
}

/* Logo Styles */
/* line 334, ../scss/base/_base.scss */
.logo {
  background-color: rgba(255, 255, 255, 0.1);
  width: 250px;
  height: 250px;
  position: fixed;
  z-index: 1000;
  cursor: default;
  border-radius: 50px;
  border: 3px solid #fff;
  box-shadow: 0 0 10px #000;
  opacity: 1;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
  -webkit-transition: transform 500ms ease-in-out, opacity 500ms ease-in, background-color 500ms ease-in;
  -moz-transition: transform 500ms ease-in-out, opacity 500ms ease-in, background-color 500ms ease-in;
  -ms-transition: transform 500ms ease-in-out, opacity 500ms ease-in, background-color 500ms ease-in;
  -o-transition: transform 500ms ease-in-out, opacity 500ms ease-in, background-color 500ms ease-in;
  transition: transform 500ms ease-in-out, opacity 500ms ease-in, background-color 500ms ease-in;
  top: 50%;
  left: 50%;
  margin-top: -125px;
  margin-left: -125px;
  cursor: pointer;
}

/* line 354, ../scss/base/_base.scss */
.logo:hover {
  opacity: 1 !important;
  background-color: rgba(255, 255, 255, 0.25);
}

/* line 358, ../scss/base/_base.scss */
.logo:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url(../images/doveblack.png) center center no-repeat;
  background-size: 90%;
  -webkit-transform: rotateY(180deg) translate(5%, 0) rotateZ(-45deg);
  -moz-transform: rotateY(180deg) translate(5%, 0) rotateZ(-45deg);
  -ms-transform: rotateY(180deg) translate(5%, 0) rotateZ(-45deg);
  -o-transform: rotateY(180deg) translate(5%, 0) rotateZ(-45deg);
  transform: rotateY(180deg) translate(5%, 0) rotateZ(-45deg);
  opacity: 0.7;
  -webkit-transition: opacity 500ms ease-in;
  -moz-transition: opacity 500ms ease-in;
  -ms-transition: opacity 500ms ease-in;
  -o-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in;
}

/* line 370, ../scss/base/_base.scss */
.logo:hover:before {
  opacity: 1;
}

/* Diamonds Styles */
/* line 375, ../scss/base/_base.scss */
.diamonds {
  width: 100%;
  position: absolute;
  text-align: center;
  top: 50%;
  margin-top: -80px;
  z-index: 1;
}
/* line 383, ../scss/base/_base.scss */
.diamonds .diamond {
  width: 150px;
  height: 150px;
  display: inline-block;
  border: 3px solid #fff;
  transform: rotate(45deg);
  box-shadow: 0 0 10px #000;
  -webkit-transition: opacity 500ms ease-in;
  -moz-transition: opacity 500ms ease-in;
  -ms-transition: opacity 500ms ease-in;
  -o-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in;
}
@media screen and (max-width: 1700px) {
  /* line 392, ../scss/base/_base.scss */
  .diamonds .diamond:nth-of-type(1), .diamonds .diamond:nth-of-type(6) {
    display: none;
  }
}
