@font-face {
  font-family: 'Rodus';
  src: url("../../fonts/roduscut700-webfont.eot");
  src: url("../../fonts/roduscut700-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/roduscut700-webfont.woff2") format("woff2"), url("../../fonts/roduscut700-webfont.woff") format("woff"), url("../../fonts/roduscut700-webfont.ttf") format("truetype"), url("../../fonts/roduscut700-webfont.svg#roduscut700bold") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 1, ../scss/_animations.scss */
.logoSplash {
  animation: logosplash 1.5s infinite cubic-bezier(0.46, 0.03, 0.52, 0.96);
  -webkit-animation: logosplash 1.5s infinite cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

/* line 4, ../scss/_animations.scss */
.anim-ellipses {
  animation: ellipses 3s infinite cubic-bezier(0.46, 0.03, 0.52, 0.96);
  -webkit-animation: ellipses 3s infinite cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

@-webkit-keyframes logosplash {
  /* line 10, ../scss/_animations.scss */
  0% {
    -webkit-transform: scale(1.25) rotateZ(-45deg);
    top: 50vh;
  }

  /* line 11, ../scss/_animations.scss */
  50% {
    -webkit-transform: scale(1) rotateZ(135deg);
    top: 50vh;
  }

  /* line 12, ../scss/_animations.scss */
  100% {
    -webkit-transform: scale(1.25) rotateZ(315deg);
    top: 50vh;
  }
}

@keyframes logosplash {
  /* line 15, ../scss/_animations.scss */
  0% {
    transform: scale(1.25) rotateZ(-45deg);
    top: 50vh;
  }

  /* line 16, ../scss/_animations.scss */
  50% {
    transform: scale(1) rotateZ(135deg);
    top: 50vh;
  }

  /* line 17, ../scss/_animations.scss */
  100% {
    transform: scale(1.25) rotateZ(315deg);
    top: 50vh;
  }
}

@-webkit-keyframes ellipses {
  /* line 21, ../scss/_animations.scss */
  0% {
    -webkit-transform: rotate(0deg) translateY(37vh) rotate(0deg);
  }

  /* line 22, ../scss/_animations.scss */
  20% {
    -webkit-transform: rotate(0deg) translateY(37vh) rotate(0deg);
  }

  /* line 23, ../scss/_animations.scss */
  80% {
    -webkit-transform: rotate(-360deg) translateY(37vh) rotate(360deg);
  }

  /* line 24, ../scss/_animations.scss */
  100% {
    -webkit-transform: rotate(-360deg) translateY(37vh) rotate(360deg);
  }
}

@keyframes ellipses {
  /* line 27, ../scss/_animations.scss */
  0% {
    transform: rotate(0deg) translateY(0vh) rotate(0deg);
    top: 37vh;
  }

  /* line 28, ../scss/_animations.scss */
  20% {
    transform: rotate(0deg) translateY(37vh) rotate(0deg);
    top: 0vh;
  }

  /* line 29, ../scss/_animations.scss */
  80% {
    transform: rotate(-360deg) translateY(37vh) rotate(360deg);
    top: 0vh;
  }

  /* line 30, ../scss/_animations.scss */
  100% {
    transform: rotate(-360deg) translateY(37vh) rotate(360deg);
    top: 0vh;
  }
}

@media Screen {
  /* line 3, ../scss/_base.scss */
  html {
    width: 100%;
    height: 100%;
    background-color: #000;
  }

  /* line 9, ../scss/_base.scss */
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  /* line 17, ../scss/_base.scss */
  a:link {
    color: #B8B8B8;
  }

  /* line 20, ../scss/_base.scss */
  a:visited {
    color: #B8B8B8;
  }

  /* line 25, ../scss/_base.scss */
  .background {
    width: 100%;
    height: 100%;
    position: fixed;
  }
  /* line 30, ../scss/_base.scss */
  .background .bgImg {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-image: url(../images/logoFull.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 50%;
    background-attachment: fixed;
    opacity: 0;
    -webkit-transition: opacity 500ms ease-in;
    -moz-transition: opacity 500ms ease-in;
    -ms-transition: opacity 500ms ease-in;
    -o-transition: opacity 500ms ease-in;
    transition: opacity 500ms ease-in;
  }
  /* line 42, ../scss/_base.scss */
  .background .bgOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #1a1a1a;
    opacity: 0.90;
    -webkit-transition: opacity 500ms ease-in-out;
    -moz-transition: opacity 500ms ease-in-out;
    -ms-transition: opacity 500ms ease-in-out;
    -o-transition: opacity 500ms ease-in-out;
    transition: opacity 500ms ease-in-out;
  }

  /* line 58, ../scss/_base.scss */
  .featured {
    opacity: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
  }
  /* line 64, ../scss/_base.scss */
  .featured .controls {
    width: 100vw;
    height: 100vh;
  }
  /* line 68, ../scss/_base.scss */
  .featured .controls > div {
    margin-bottom: -3px;
  }
  /* line 71, ../scss/_base.scss */
  .featured .controls .control {
    display: inline-block;
    position: relative;
    width: 20vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: 0.5;
    -webkit-transition: opacity 500ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
    -moz-transition: opacity 500ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
    -ms-transition: opacity 500ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
    -o-transition: opacity 500ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
    transition: opacity 500ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
    box-shadow: 0 0 15px 2px #000;
    z-index: 1;
  }
  /* line 84, ../scss/_base.scss */
  .featured .controls .control:hover {
    opacity: 1;
  }
  /* line 87, ../scss/_base.scss */
  .featured .controls .lastSlide {
    margin-right: -4px;
    cursor: url(../images/last.cur), pointer;
  }
  /* line 91, ../scss/_base.scss */
  .featured .controls .nextSlide {
    margin-left: -4px;
    cursor: url(../images/next.cur), pointer;
  }
  /* line 95, ../scss/_base.scss */
  .featured .controls .photos {
    position: relative;
    display: inline-block;
    width: 60vw;
    height: 100vh;
    cursor: url(../images/zoom-in.cur), pointer;
  }
  /* line 102, ../scss/_base.scss */
  .featured .controls .photos .image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    -webkit-transition: opacity 500ms ease-in;
    -moz-transition: opacity 500ms ease-in;
    -ms-transition: opacity 500ms ease-in;
    -o-transition: opacity 500ms ease-in;
    transition: opacity 500ms ease-in;
  }

  /* line 117, ../scss/_base.scss */
  .monitor {
    display: none;
    background-color: black;
    color: green;
    width: 250px;
    height: auto;
    padding: 5px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    cursor: default;
  }

  /* line 132, ../scss/_base.scss */
  .imgViewer {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    -webkit-transition: opacity 500ms ease-in;
    -moz-transition: opacity 500ms ease-in;
    -ms-transition: opacity 500ms ease-in;
    -o-transition: opacity 500ms ease-in;
    transition: opacity 500ms ease-in;
    text-align: center;
  }
  /* line 144, ../scss/_base.scss */
  .imgViewer > div {
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: url(../images/zoom-out.cur), pointer;
  }

  /* line 155, ../scss/_base.scss */
  .logo {
    position: fixed;
    width: 13.5vw;
    height: 13.5vw;
    left: 50%;
    margin-top: calc(-6.75vw - 5px);
    margin-left: calc(-6.75vw - 5px);
    box-shadow: 0 0 10px #000, inset 0 0 5px #000;
    border-radius: 25px;
    border: 5px solid #fff;
    opacity: 0;
    -webkit-transform: translateY(50vh) scale(1.25) rotateZ(-45deg);
    -moz-transform: translateY(50vh) scale(1.25) rotateZ(-45deg);
    -ms-transform: translateY(50vh) scale(1.25) rotateZ(-45deg);
    -o-transform: translateY(50vh) scale(1.25) rotateZ(-45deg);
    transform: translateY(50vh) scale(1.25) rotateZ(-45deg);
    -webkit-transition: transform 500ms ease-in-out, opacity 500ms ease-in, background-color 500ms ease-in;
    -moz-transition: transform 500ms ease-in-out, opacity 500ms ease-in, background-color 500ms ease-in;
    -ms-transition: transform 500ms ease-in-out, opacity 500ms ease-in, background-color 500ms ease-in;
    -o-transition: transform 500ms ease-in-out, opacity 500ms ease-in, background-color 500ms ease-in;
    transition: transform 500ms ease-in-out, opacity 500ms ease-in, background-color 500ms ease-in;
    z-index: 1002;
  }
  /* line 173, ../scss/_base.scss */
  .logo .dove {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url(../images/doveblack.png) center center no-repeat;
    background-size: 90%;
    -webkit-transform: rotateY(180deg) translate(5%, 0) rotateZ(-45deg);
    -moz-transform: rotateY(180deg) translate(5%, 0) rotateZ(-45deg);
    -ms-transform: rotateY(180deg) translate(5%, 0) rotateZ(-45deg);
    -o-transform: rotateY(180deg) translate(5%, 0) rotateZ(-45deg);
    transform: rotateY(180deg) translate(5%, 0) rotateZ(-45deg);
    opacity: 0;
    -webkit-transition: transform 500ms ease-in-out, opacity 500ms ease-in;
    -moz-transition: transform 500ms ease-in-out, opacity 500ms ease-in;
    -ms-transition: transform 500ms ease-in-out, opacity 500ms ease-in;
    -o-transition: transform 500ms ease-in-out, opacity 500ms ease-in;
    transition: transform 500ms ease-in-out, opacity 500ms ease-in;
  }

  /*.logo:hover {
  	opacity: 1 !important;
    background-color: rgba(255,255,255,1);
  }
  .logo:hover:before {
      opacity: 1;
  }*/
  /* line 194, ../scss/_base.scss */
  .splash {
    position: fixed;
    width: 100vw;
    height: 100vh;
    color: #fff;
    font-family: Rodus;
    text-align: center;
    z-index: 1001;
  }
  /* line 203, ../scss/_base.scss */
  .splash .loading {
    position: relative;
    top: calc(85vh - 1.5vh);
    font-size: 4vh;
    line-height: 3vh;
    margin: 0;
    -webkit-transition: opacity 500ms ease-in-out;
    -moz-transition: opacity 500ms ease-in-out;
    -ms-transition: opacity 500ms ease-in-out;
    -o-transition: opacity 500ms ease-in-out;
    transition: opacity 500ms ease-in-out;
  }
  /* line 211, ../scss/_base.scss */
  .splash .loading .ellipses {
    position: absolute;
    width: 100vw;
    top: -32vh;
    left: 50%;
    -moz-transform: translateX(-50vw);
    -webkit-transform: translateX(-50vw);
  }
  /* line 219, ../scss/_base.scss */
  .splash .loading .ellipses > span {
    position: absolute;
    -webkit-transform: translateY(37vh);
    -moz-transform: translateY(37vh);
    -ms-transform: translateY(37vh);
    -o-transform: translateY(37vh);
    transform: translateY(37vh);
    -webkit-transition: opacity 500ms ease-in-out;
    -moz-transition: opacity 500ms ease-in-out;
    -ms-transition: opacity 500ms ease-in-out;
    -o-transition: opacity 500ms ease-in-out;
    transition: opacity 500ms ease-in-out;
  }

  /* line 229, ../scss/_base.scss */
  .galNav {
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 1001;
    width: 100vw;
    height: 5vh;
    font-family: Rodus;
    text-align: center;
    opacity: 0;
    padding: 5px 0;
    margin: 0;
    -webkit-transition: opacity 500ms ease-in;
    -moz-transition: opacity 500ms ease-in;
    -ms-transition: opacity 500ms ease-in;
    -o-transition: opacity 500ms ease-in;
    transition: opacity 500ms ease-in;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px #000;
  }
  /* line 245, ../scss/_base.scss */
  .galNav > li {
    display: inline-block;
    line-height: 5vh;
    padding-bottom: 6px;
    cursor: pointer;
  }
  /* line 251, ../scss/_base.scss */
  .galNav > li .gallery {
    position: absolute;
    visibility: collapse;
    width: 100vw;
    height: calc(95vh - 10px);
    left: 0;
    margin-top: 6px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    -webkit-transition: opacity 500ms ease-in-out;
    -moz-transition: opacity 500ms ease-in-out;
    -ms-transition: opacity 500ms ease-in-out;
    -o-transition: opacity 500ms ease-in-out;
    transition: opacity 500ms ease-in-out;
    cursor: default;
  }
  /* line 263, ../scss/_base.scss */
  .galNav > li .gallery .container {
    position: relative;
    display: inline-block;
    width: 93%;
    height: 100%;
    margin-bottom: -3px;
  }
  /* line 270, ../scss/_base.scss */
  .galNav > li .gallery .container .thumbScroller {
    position: relative;
    display: inline-block;
    width: 45%;
    height: 100%;
    float: left;
  }
  /* line 278, ../scss/_base.scss */
  .galNav > li .gallery .container .thumbScroller .columns {
    -webkit-column-count: 2;
    -webkit-column-gap: 5px;
    -moz-column-count: 2;
    -moz-column-gap: 5px;
    column-count: 2;
    column-gap: 5px;
    padding-bottom: 50px;
  }
  /* line 282, ../scss/_base.scss */
  .galNav > li .gallery .container .thumbScroller .columns .thumb {
    display: inline-block;
    margin: 3px;
    opacity: 0;
    -webkit-transition: opacity 500ms ease-in;
    -moz-transition: opacity 500ms ease-in;
    -ms-transition: opacity 500ms ease-in;
    -o-transition: opacity 500ms ease-in;
    transition: opacity 500ms ease-in;
    cursor: pointer;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
  }
  /* line 290, ../scss/_base.scss */
  .galNav > li .gallery .container .thumbScroller .columns .thumb .thumbnail {
    width: 100%;
    border: 1px solid #fff;
  }
  /* line 295, ../scss/_base.scss */
  .galNav > li .gallery .container .thumbScroller .columns .thumb:hover {
    opacity: 1 !important;
  }
  /* line 300, ../scss/_base.scss */
  .galNav > li .gallery .container .preview {
    position: absolute;
    width: 49%;
    height: 75%;
    top: calc(50% - (75% / 2));
    right: 0;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    float: right;
    cursor: url(../images/zoom-in.cur), pointer;
    opacity: 0;
    -webkit-transition: opacity 300ms ease-in-out;
    -moz-transition: opacity 300ms ease-in-out;
    -ms-transition: opacity 300ms ease-in-out;
    -o-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
  }
  /* line 316, ../scss/_base.scss */
  .galNav > li .gallery .hideGallery {
    position: absolute;
    width: 100vw;
    height: 5vh;
    bottom: 0;
    background-color: rgba(224, 33, 33, 0.75);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    opacity: 0.75;
    -webkit-transition: opacity 500ms ease-in;
    -moz-transition: opacity 500ms ease-in;
    -ms-transition: opacity 500ms ease-in;
    -o-transition: opacity 500ms ease-in;
    transition: opacity 500ms ease-in;
    z-index: 1002;
  }
  /* line 328, ../scss/_base.scss */
  .galNav > li .gallery .hideGallery > h3 {
    color: #fff;
    margin: 0;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.65);
  }
  /* line 334, ../scss/_base.scss */
  .galNav > li .gallery .hideGallery:hover {
    opacity: 1;
  }
  /* line 338, ../scss/_base.scss */
  .galNav > li h2 {
    margin: 0px 20px;
    font-size: 2vw;
    color: rgba(255, 255, 255, 0.75);
    text-shadow: 0 0 5px #000;
    -webkit-transition: transform 500ms ease-in-out, color 300ms ease-in;
    -moz-transition: transform 500ms ease-in-out, color 300ms ease-in;
    -ms-transition: transform 500ms ease-in-out, color 300ms ease-in;
    -o-transition: transform 500ms ease-in-out, color 300ms ease-in;
    transition: transform 500ms ease-in-out, color 300ms ease-in;
  }
  /* line 350, ../scss/_base.scss */
  .galNav > li:hover h2 {
    color: #fff;
  }

  /* line 356, ../scss/_base.scss */
  .diamonds {
    opacity: 0;
    width: 100%;
    height: 9vw;
    position: absolute;
    text-align: center;
    top: 85%;
    margin-top: calc(-4.5vw - 3px);
    z-index: 1;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
  }
  /* line 367, ../scss/_base.scss */
  .diamonds > div {
    position: relative;
    width: 45%;
    display: inline-block;
    opacity: 0.75;
    -webkit-transition: opacity 300ms ease-in-out;
    -moz-transition: opacity 300ms ease-in-out;
    -ms-transition: opacity 300ms ease-in-out;
    -o-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    cursor: pointer;
  }
  /* line 375, ../scss/_base.scss */
  .diamonds > div:hover {
    opacity: 1;
  }
  /* line 378, ../scss/_base.scss */
  .diamonds h3 {
    position: absolute;
    width: 100%;
    font-size: 3vw;
    font-family: Rodus;
    color: #fff;
    z-index: 100;
    text-shadow: 0 3px 5px #000, 0 0 100px #fff;
  }
  /* line 387, ../scss/_base.scss */
  .diamonds .diamond {
    width: 9vw;
    height: 9vw;
    position: relative;
    display: inline-block;
    border: 3px solid #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    box-shadow: 0 0 10px #000, inset 0 0 5px #000;
    -webkit-transition: opacity 500ms ease-in;
    -moz-transition: opacity 500ms ease-in;
    -ms-transition: opacity 500ms ease-in;
    -o-transition: opacity 500ms ease-in;
    transition: opacity 500ms ease-in;
  }

  /* line 400, ../scss/_base.scss */
  .infoOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
    opacity: 0;
    -webkit-transition: opacity 300ms ease-in;
    -moz-transition: opacity 300ms ease-in;
    -ms-transition: opacity 300ms ease-in;
    -o-transition: opacity 300ms ease-in;
    transition: opacity 300ms ease-in;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1001;
  }

  /* line 411, ../scss/_base.scss */
  .info {
    opacity: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 100vh;
    -webkit-transition: transform 500ms ease-in-out;
    -moz-transition: transform 500ms ease-in-out;
    -ms-transition: transform 500ms ease-in-out;
    -o-transition: transform 500ms ease-in-out;
    transition: transform 500ms ease-in-out;
    color: #fff;
    text-align: center;
    font-family: Rodus;
    font-size: 1.5vh;
    z-index: 1003;
  }
  /* line 426, ../scss/_base.scss */
  .info .infoNav {
    width: 100%;
  }
  /* line 430, ../scss/_base.scss */
  .info .infoNav h1 {
    margin: 0;
    padding: 0.67em 0;
    width: 50%;
    display: inline-block;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.75);
    font-size: 3vh;
    -webkit-transition: background-color 300ms ease-in-out;
    -moz-transition: background-color 300ms ease-in-out;
    -ms-transition: background-color 300ms ease-in-out;
    -o-transition: background-color 300ms ease-in-out;
    transition: background-color 300ms ease-in-out;
    cursor: pointer;
  }
  /* line 442, ../scss/_base.scss */
  .info .infoNav h1:hover {
    background-color: rgba(255, 255, 255, 0.25);
  }
  /* line 445, ../scss/_base.scss */
  .info .infoNav .navHighlight {
    position: absolute;
    top: 0;
    width: 50%;
    height: 7.8vh;
    background-color: rgba(255, 255, 255, 0.75);
    z-index: -1;
    -webkit-transition: transform 500ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
    -moz-transition: transform 500ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
    -ms-transition: transform 500ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
    -o-transition: transform 500ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
    transition: transform 500ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
  }
  /* line 456, ../scss/_base.scss */
  .info .infoContainer {
    position: relative;
    display: inline-block;
    height: inherit;
    width: 70vw;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.75);
    overflow: hidden;
  }
  /* line 465, ../scss/_base.scss */
  .info .infoContainer .infoChanger {
    position: absolute;
    width: 200%;
    height: 100%;
    -webkit-transition: transform 500ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
    -moz-transition: transform 500ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
    -ms-transition: transform 500ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
    -o-transition: transform 500ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
    transition: transform 500ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
  }
  /* line 471, ../scss/_base.scss */
  .info .infoContainer .infoChanger > div {
    position: absolute;
    display: inline-block;
    margin: 0;
    width: 50%;
    height: 100%;
  }
  /* line 478, ../scss/_base.scss */
  .info .infoContainer .infoChanger .bio {
    left: 0;
  }
  /* line 481, ../scss/_base.scss */
  .info .infoContainer .infoChanger .bio .bioContent {
    float: left;
    width: 60%;
    margin-left: 20px;
    margin-top: 1%;
    text-align: justify;
    font-family: Rodus;
    font-size: 1.3vw;
    color: #B8B8B8;
  }
  /* line 497, ../scss/_base.scss */
  .info .infoContainer .infoChanger .bio .bioPic {
    position: relative;
    width: 23vw;
    height: calc(23vw / 0.66667);
    margin-top: 1%;
    float: right;
    background-image: url(../images/profile.jpg);
    background-size: cover;
    margin-right: 20px;
  }
  /* line 507, ../scss/_base.scss */
  .info .infoContainer .infoChanger .bio .quote {
    position: absolute;
    bottom: 150px;
    width: 100%;
    font-size: 1vw;
    color: #B8B8B8;
  }
  /* line 515, ../scss/_base.scss */
  .info .infoContainer .infoChanger .contact {
    right: 0;
  }
  /* line 518, ../scss/_base.scss */
  .info .infoContainer .infoChanger .contact .contactPic {
    position: relative;
    width: 100%;
    height: calc(50vw / 1.5);
    margin-top: 1px;
    background-image: url(../images/profile2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 40%;
  }
  /* line 531, ../scss/_base.scss */
  .info .infoContainer .hideInfo {
    position: absolute;
    display: block;
    bottom: 0;
    padding: 20px 0;
    background-color: rgba(255, 0, 0, 0.25);
    -webkit-transition: background-color 300ms ease-in;
    -moz-transition: background-color 300ms ease-in;
    -ms-transition: background-color 300ms ease-in;
    -o-transition: background-color 300ms ease-in;
    transition: background-color 300ms ease-in;
    width: 100%;
    font-size: 2vh;
    cursor: pointer;
    text-shadow: 0 0 3px #000;
  }
  /* line 543, ../scss/_base.scss */
  .info .infoContainer .hideInfo:hover {
    background-color: rgba(255, 0, 0, 0.5);
  }
}
