html
{
width: 100%;
height: 100%;
background-color: #000;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Background Styles */
.background {
  width: 100%;
  height: 100%;
  position: fixed;
}
  .bgImg {
    min-width: 100%;
    /*min-height: 100%;*/
    /*background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;*/
    opacity: 0;
    -webkit-transition: opacity 500ms ease-in;
            -moz-transition: opacity 500ms ease-in;
            -o-transition: opacity 500ms ease-in;
            -ms-transition: opacity 500ms ease-in;
            transition: opacity 500ms ease-in;
  }
  .bgOverlay {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    box-shadow: inset 0 0 500px 200px #000;
  }
  .tile {
      display: inline-block;
      margin: 0;
      margin-top: -4.5px;
      width: 20%;
  }

/* Navigation Styles */
.nav {
  width: 100%;
  /* background-color: rgba(0,0,0,0.5); */
  position: absolute;
  opacity: 0;
    -webkit-transition: opacity 500ms ease-in;
            -moz-transition: opacity 500ms ease-in;
            -o-transition: opacity 500ms ease-in;
            -ms-transition: opacity 500ms ease-in;
            transition: opacity 500ms ease-in;
}
  .nav div {
    width: 100%;
    height: 50%;
    display: inline-block;
    padding: 0;
    margin: 0px;
    background-color: #000;
    opacity: 0.5;
    -webkit-transition: transform 500ms ease-in, opacity 500ms ease-in;
            -moz-transition: transform 500ms ease-in, opacity 500ms ease-in;
            -o-transition: transform 500ms ease-in, opacity 500ms ease-in;
            -ms-transition: transform 500ms ease-in, opacity 500ms ease-in;
            transition: transform 500ms ease-in, opacity 500ms ease-in;
  }
    .navHover:hover {
      opacity: 0.75;
      cursor: pointer;
    }
    .navHover:hover h1 {
      text-shadow: 0 0 10px #fff;
    }
    .nav div h1 {
      color: #fff;
      font-family: Verdana;
      font-size: 50pt;
      position: relative;
      text-shadow: 0 0 0px #fff;
      -webkit-transition: text-shadow 300ms ease-in, transform 500ms ease-in, opacity 500ms ease-in;
            -moz-transition: text-shadow 300ms ease-in, transform 500ms ease-in, opacity 500ms ease-in;
            -o-transition: text-shadow 300ms ease-in, transform 500ms ease-in, opacity 500ms ease-in;
            -ms-transition: text-shadow300ms ease-in, transform 500ms ease-in, opacity 500ms ease-in;
            transition: text-shadow 300ms ease-in, transform 500ms ease-in, opacity 500ms ease-in;
    }
      .nav div:hover h1 {
        transform: translateY(50%);
      }
    .nav1 {
      transform-origin: 0 0;
      text-align: center;
    }
      .galNav {
        color: #fff;
        font-family: Verdana;
        /*transform: scale(1,0.5);*/
        opacity: 0;
        /*-webkit-transition: opacity 500ms ease-in;
              -moz-transition: opacity 500ms ease-in;
              -o-transition: opacity 500ms ease-in;
              -ms-transition: opacity 500ms ease-in;
              transition: opacity 500ms ease-in;*/
      }
      .galNav.top {
        position: relative;
      }
      .galNav.btm {
        position: absolute;
        bottom: 0;
      }
        .galNav h2 {
          display: inline-block;
          margin: 0 5%;
          font-size: 30pt;
          cursor: pointer;
          -webkit-transition: text-shadow 200ms ease-in;
                  -moz-transition: text-shadow 200ms ease-in;
                  -o-transition: text-shadow 200ms ease-in;
                  -ms-transition: text-shadow 200ms ease-in;
                  transition: text-shadow 200ms ease-in;
        }
        .galNav h2:hover {
            text-shadow: 0 0 5px #fff;
          }

        .galNav.top h2 {
          margin: 0 12%;
        }
        .galNav.btm h2 {
          margin: 0 5%;
        }
          
    .nav2 { /* BIO */
      transform-origin: 0 0;
      width: 50% !important;
      text-align: center;
    }
      .nav2 h1 {
      }
    .nav3 { /* CONTACT */
      transform-origin: 100% 0;
      width: 50% !important;
      text-align: center;
    }
      .nav3 h1 {
      }
  
/* Monitor Styles */
.monitor {
  display: none;
  background-color: black;
  color: green;
  width: 250px;
  height: auto;
  padding: 5px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  cursor: default;
}

/* Logo Styles */
.logo {
  background-color: rgba(255,255,255,0.50);
  width: 250px;
  height: 250px;
  position: fixed;
  z-index: 1000;
  cursor: default;
  border-radius: 70px;
  opacity: 1;
  -webkit-transform: rotateZ(-45deg);
      -moz-transform: rotateZ(-45deg);
      -ms-transform: rotateZ(-45deg);
      -o-transform: rotateZ(-45deg);
      transform: rotateZ(-45deg);
  -webkit-transition: transform 500ms ease-in-out;
            -moz-transition: transform 500ms ease-in-out;
            -o-transition: transform 500ms ease-in-out;
            -ms-transition: transform 500ms ease-in-out;
            transition: transform 500ms ease-in-out;
  box-shadow: 0 0 30px #000;
  top: 50%;
  left: 50%;
  margin-top: -125px;
  margin-left: -125px;
  cursor: pointer;
}
  .logo:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url(../images/doveblack.png) center center no-repeat;
    background-size: 90%;
    -webkit-transform: rotateY(180deg) translate(5%,0) rotateZ(-45deg);
      -moz-transform: rotateY(180deg) translate(5%,0) rotateZ(-45deg);
      -ms-transform: rotateY(180deg) translate(5%,0) rotateZ(-45deg);
      -o-transform: rotateY(180deg) translate(5%,0) rotateZ(-45deg);
      transform: rotateY(180deg) translate(5%,0) rotateZ(-45deg);
    opacity: 0.7;
    -webkit-transition: opacity 500ms ease-in;
            -moz-transition: opacity 500ms ease-in;
            -o-transition: opacity 500ms ease-in;
            -ms-transition: opacity 500ms ease-in;
            transition: opacity 500ms ease-in;
  }
    .logo:hover:before {
      opacity: 1;
    }