@font-face {
    font-family: 'Rodus';
    src: url('../../fonts/roduscut700-webfont.eot');
    src: url('../../fonts/roduscut700-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/roduscut700-webfont.woff2') format('woff2'),
         url('../../fonts/roduscut700-webfont.woff') format('woff'),
         url('../../fonts/roduscut700-webfont.ttf') format('truetype'),
         url('../../fonts/roduscut700-webfont.svg#roduscut700bold') format('svg');
    font-weight: normal;
    font-style: normal;
}