node_modules

dist

.tmp

bower_components
app v2
app/scripts/changePage.js
app/images/ignore
app/images/galleryOLD
.sass-cache
app/project.sublime-project
app/project.sublime-workspace
Josh-James-Photography-Bio.docx
app v3
app v4
app/images/profile.jpg